<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grodrich.grc.familyapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_family_icon_purple"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <category android:name="android.intent.category.LAUNCHER" />
        <activity
            android:name=".view.activities.SignInActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_sign_in">
        </activity>
        <activity
            android:name=".view.activities.NavigationActivity"
            android:theme="@style/SplashScreenTheme"
            android:label="@string/title_activity_sign_in">
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            android:label="@string/title_activity_sign_in">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
